<div class="uk-flex uk-flex-middle uk-flex-center uk-height-viewport">
    <!-- <mat-card class="uk-width-2-1@m uk-width-1-2@s"> -->
    <mat-card class="uk-width-xlarge">
      <div class="uk-flex uk-flex-center uk-margin-medium-bottom" >
        <h2>Register</h2>
      </div>
      <mat-card-content>
        <mat-form-field class="uk-width-1-1">
          <mat-label>Name</mat-label>
          <input matInput type="text" value="" placeholder="Your Name">
        </mat-form-field>
        <mat-form-field class="uk-width-1-1">
            <mat-label>Email</mat-label>
            <input matInput type="text" value="" placeholder="Your Email">
        </mat-form-field>
        <mat-form-field class="uk-width-1-1">
          <mat-label>Password</mat-label>
          <input matInput type="password" value="" placeholder="Your Password">
        </mat-form-field>
        <mat-form-field class="uk-width-1-1">
            <mat-label>Retype Password</mat-label>
            <input matInput type="password" value="" placeholder="Your Password">
          </mat-form-field>
        <div class="uk-flex uk-flex-between uk-margin-small-top uk-margin-small-bottom">
            <button mat-raised-button color="primary" routerLink="">Submit</button>
            <button mat-raised-button routerLink="/login">I have an account</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>