<ng-container>
    <mat-toolbar class="example-header">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <!-- <button mat-raised-button (click)="click('')" >WWW</button> -->
        <span>Menu</span>
        <div class="uk-width-expand"></div>
        <small>Admins</small>
    </mat-toolbar>
    <mat-sidenav-container class="side-container">
        <mat-sidenav
        #sidenav 
        disableClose position="end"
        mode="push"
        [position]="'start'" 
        [opened]="false"
        class="sidenav-left"
        [fixedInViewport]="true"
        [fixedTopGap]="64"
        [fixedBottomGap]="0">
        <mat-nav-list>
            <mat-list-item routerLink="/admin/dashbor">
                <mat-icon matListIcon>dashboard</mat-icon>
                <h3 matLine>Dashboard</h3>
            </mat-list-item>
            <mat-list-item routerLink="/admin/product">
                <mat-icon matListIcon>shopping_cart</mat-icon>
                <h3 matLine>Product</h3>
            </mat-list-item>
        </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content #start mode="over" fixedInViewport="true">
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</ng-container>
