<mat-card class="uk-width-large">
    <div style="font-weight : 700" class="uk-margin-medium-bottom">
        <span>Tambah data</span>
    </div>
    <form class="example-form">
        <mat-form-field class="uk-width-1-1" appearance="fill">
          <mat-label>Judul</mat-label>
          <input type="text" matInput placeholder="" value="">
        </mat-form-field>
      
        <mat-form-field class="uk-width-1-1" appearance="fill">
            <mat-label>Penulis</mat-label>
            <input type="text" matInput placeholder="" value="">
        </mat-form-field>
    
        <mat-form-field class="uk-width-1-1" appearance="fill">
            <mat-label>Penerbit</mat-label>
            <input type="text" matInput placeholder="" value="">
        </mat-form-field>
    
        <mat-form-field class="uk-width-1-1" appearance="fill">
            <mat-label>ISBN</mat-label>
            <input type="text" matInput placeholder="" value="">
        </mat-form-field>
    
        <mat-form-field class="uk-width-1-1" appearance="fill">
            <mat-label>Harga</mat-label>
            <input type="text" matInput placeholder="" value="">
        </mat-form-field>
    </form>

    <button mat-flat-button>Submit</button>
    <button mat-flat-button>Cancel</button>
</mat-card>